html{ 
    height:100%;
    margin: 0;
}

body {
    min-height:100%;
    margin:0;
}


p {
    font-size: large;
    color: #000000;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

#background {
    width: 100%;
    height: 607px;
    object-fit: cover;
    position: static;
    top: 0;
    left: 0;
}

#descriptionh1 {
    left: 15%;

}

#description {
    left: 15%;
    width: 50%;
}

#copyright, #contact {
    font-size: small;
    font-weight: bold;
    padding-top: 3em;
    margin-right: 10%;
}

#copyright {
    left: 15%;
}

#contact {
    left: 15%;
    
}